- var active = 1
- var pageName = ''
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body
    .page-wrap
      include includes/header
      main
        .container
      include includes/footer
    include includes/tail
