- var active = 1
- var pageName = ''
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body
    .page-wrap
      include includes/header
      include includes/section-1
      include includes/section-2
      include includes/section-3
      include includes/footer
    include includes/tail
