- var active = 1
- var pageName = 'Главная'
include includes/settings
doctype html
html(lang='ru').no-js
  head
    include includes/head
  body
    .page-wrap
      include includes/top-bar
      include includes/header
      include includes/slider
      main

      include includes/footer
    include includes/tail
