
$em-size: 96px;
$body-bg: #FFF;

.form-preloader {
  position: absolute;
  width: 150%;
  height: 150%;
  left: -25%;
  top: -25%;
  border-radius: 100%;
  background-color: #fff;
  font-size: 18px;
  transform: scale(0);
  @include transition(transform .5s ease);

  &.active {
    transform: scale(1);
  }
}

// *************************************
//
//   Cloud
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Cloud ----- //

$cloud-duration: .8s;
$cloud-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$cloud-iteration-count: infinite;
$cloud-direction: alternate;
$cloud-fill-mode: forwards;

// -------------------------------------
//   Cloud
// -------------------------------------

.clouds {
  margin-top: -0.35em;
  margin-left: -1em;
  text-align: center;
  font-size: $em-size;
}

.cloud {
  position: relative;
  display: inline-block;
  width: .0125em;

  &:before,
  &:after {
    content: "";
    position: relative;
    display: block;
  }

  &:before {
    animation: cloud $cloud-duration $cloud-timing-function $cloud-iteration-count $cloud-direction $cloud-fill-mode;
    transform: translateY(.5em) scale(0);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #bdecfc;
  }

  // ----- Shadow ----- //

  &:after {
    animation: cloud-shadow $cloud-duration $cloud-timing-function $cloud-iteration-count $cloud-direction $cloud-fill-mode;
    bottom: -.4375em;
    width: 1em;
    height: .125em;
    border-radius: 50%;
    transform: scale(0);
    background-color: darken($body-bg, 10%);
  }

  @for $i from 1 through 24 {

    &:nth-child(#{$i}) {

      &:before,
      &:after {
        animation-delay: ($i * .2s) - .15s;
      }

    }

  }

}

// -------------------------------------
//   Animations
// -------------------------------------

@keyframes cloud {

  50% {
    transform: translateY(.5em) scale(0);
  }

  100% {
    transform: translateY(0) scale(1);
  }

}

@keyframes cloud-shadow {

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }

}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea, .select {

  @include placeholder {
    color: #006797;
    font-size: 14px;
    font-weight: 200;
  }

  -webkit-appearance: none;
  display: block;
  margin-bottom: 18px;

  width: 100%; height: 50px;
  @include border-radius(20px);
  @include background-clip(padding-box);
  background-color: #fff;
  border: 1px solid #9ec064;

  padding: 0 23px;

  color: #006797;
  font-size: 14px;
  font-weight: 200;

  &.error {
    border: 1px solid #c06464;
  }
}

textarea {
  height: 100px;
}

.btn, a.btn, input[type=submit] {
  display: inline-block;
  border-style: solid;
  border: none;
  text-decoration: none;
  position: relative;
  clear: both;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;

  height: 33px;
  padding: 0 19px;
  @include border-radius(16px);
  @include background-clip(padding-box);
  background-color: #fff;
  @include box-shadow(0 1px 0 rgba(181,210,130,.75));
  @include background-image(linear-gradient(to bottom, #f4f7f0 0%, #fff 100%));

  color: #58830e;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: #58830e;
    @include background-image(linear-gradient(to bottom, #fff 0%, #f4f7f0 100%));
  }

  &:active {
    @include box-shadow(0 -1px 0 rgba(181,210,130,.75));
    position: relative;
    top: 1px;
  }

  &.btn {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 33px;
  }
}
