
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea, .select {

  @include placeholder {
    color: #807a7a;
    font-size: 14px;
  }

  -webkit-appearance: none;
  display: block;
  margin-bottom: 18px;

  width: 300px;
  height: 41px;
  padding: 13px 16px;

  border: 1px solid #e0e0e0;
  @include border-radius(3px);
  @include background-clip(padding-box);
  background-color: #f7f7f7;
  @include background-image(linear-gradient(to bottom, #fff 0%, #f7f7f7 100%));


  color: #807a7a;
  font-size: 14px;
}

textarea {
  height: 100px;
}

.btn, a.btn, input[type=submit] {
  display: inline-block;
  border-style: solid;
  border: none;
  text-decoration: none;
  position: relative;
  clear: both;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  @include text-shadow(0 1px 0 #025851);

  padding: 12px 20px;

  border: 1px solid #15685c;
  @include border-radius(3px);
  @include box-shadow(inset 0 1px 0 #85dbd7);
  background-color: #1b7b6d;
  @include background-image(linear-gradient(to bottom, #1b7b6d 0%, #3f9995 100%));

  margin-bottom: 18px;

  &:hover {
    background-color: #1b7b6d;
    @include background-image(linear-gradient(to bottom, #3f9995 0%, #1b7b6d 100%));
    &:active {
      @include box-shadow(inset 0 -1px 0 #85dbd7);
      top: 3px;
    }
  }

  &.btn {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 41px;
  }
}
