/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* line 15, ../scss/_settings.scss */
.container {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
/* line 195, ../scss/jeet/_grid.scss */
.container:before, .container:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
.container:after {
  clear: both;
}

/* line 2, ../scss/_ui.scss */
.ui-helper-hidden {
  display: none;
}

/* line 5, ../scss/_ui.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 15, ../scss/_ui.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 25, ../scss/_ui.scss */
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

/* line 31, ../scss/_ui.scss */
.ui-helper-clearfix:after {
  clear: both;
}

/* line 34, ../scss/_ui.scss */
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}

/* line 37, ../scss/_ui.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* line 47, ../scss/_ui.scss */
.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
/* line 54, ../scss/_ui.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 63, ../scss/_ui.scss */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
/* line 75, ../scss/_ui.scss */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 82, ../scss/_ui.scss */
.ui-resizable {
  position: relative;
}

/* line 85, ../scss/_ui.scss */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

/* line 90, ../scss/_ui.scss */
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 94, ../scss/_ui.scss */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

/* line 101, ../scss/_ui.scss */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

/* line 108, ../scss/_ui.scss */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

/* line 115, ../scss/_ui.scss */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

/* line 122, ../scss/_ui.scss */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 129, ../scss/_ui.scss */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 136, ../scss/_ui.scss */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 143, ../scss/_ui.scss */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/* line 150, ../scss/_ui.scss */
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted black;
}

/* line 155, ../scss/_ui.scss */
.ui-slider {
  position: relative;
  text-align: left;
}

/* line 159, ../scss/_ui.scss */
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
}

/* line 166, ../scss/_ui.scss */
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0;
}

/* For IE8 - See #6727 */
/* line 176, ../scss/_ui.scss */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit;
}

/* line 181, ../scss/_ui.scss */
.ui-slider-horizontal {
  height: .8em;
}

/* line 184, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

/* line 188, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}

/* line 192, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}

/* line 195, ../scss/_ui.scss */
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}

/* line 199, ../scss/_ui.scss */
.ui-slider-vertical {
  width: .8em;
  height: 100px;
}

/* line 203, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-handle {
  left: -.3em;
  margin-left: 0;
  margin-bottom: -.6em;
}

/* line 208, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 100%;
}

/* line 212, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}

/* line 215, ../scss/_ui.scss */
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}

/* Component containers
----------------------------------*/
/* line 221, ../scss/_ui.scss */
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

/* line 225, ../scss/_ui.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}

/* line 228, ../scss/_ui.scss */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

/* line 235, ../scss/_ui.scss */
.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff;
  color: #222222;
}

/* line 240, ../scss/_ui.scss */
.ui-widget-content a {
  color: #222222;
}

/* line 243, ../scss/_ui.scss */
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc;
  color: #222222;
  font-weight: bold;
}

/* line 249, ../scss/_ui.scss */
.ui-widget-header a {
  color: #222222;
}

/* line 2, ../scss/_forms.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea, .select {
  -webkit-appearance: none;
  display: block;
  margin-bottom: 18px;
  width: 300px;
  height: 41px;
  padding: 13px 16px;
  border: 1px solid #e0e0e0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);
  color: #807a7a;
  font-size: 14px;
}
/* line 4, ../scss/app.scss */
input[type="text"] ::-webkit-input-placeholder,
input[type="password"] ::-webkit-input-placeholder,
input[type="date"] ::-webkit-input-placeholder,
input[type="datetime"] ::-webkit-input-placeholder,
input[type="datetime-local"] ::-webkit-input-placeholder,
input[type="month"] ::-webkit-input-placeholder,
input[type="week"] ::-webkit-input-placeholder,
input[type="email"] ::-webkit-input-placeholder,
input[type="number"] ::-webkit-input-placeholder,
input[type="search"] ::-webkit-input-placeholder,
input[type="tel"] ::-webkit-input-placeholder,
input[type="time"] ::-webkit-input-placeholder,
input[type="url"] ::-webkit-input-placeholder,
textarea ::-webkit-input-placeholder, .select ::-webkit-input-placeholder {
  color: #807a7a;
  font-size: 14px;
}
/* line 5, ../scss/app.scss */
input[type="text"] :-moz-placeholder,
input[type="password"] :-moz-placeholder,
input[type="date"] :-moz-placeholder,
input[type="datetime"] :-moz-placeholder,
input[type="datetime-local"] :-moz-placeholder,
input[type="month"] :-moz-placeholder,
input[type="week"] :-moz-placeholder,
input[type="email"] :-moz-placeholder,
input[type="number"] :-moz-placeholder,
input[type="search"] :-moz-placeholder,
input[type="tel"] :-moz-placeholder,
input[type="time"] :-moz-placeholder,
input[type="url"] :-moz-placeholder,
textarea :-moz-placeholder, .select :-moz-placeholder {
  color: #807a7a;
  font-size: 14px;
}
/* line 6, ../scss/app.scss */
input[type="text"] ::-moz-placeholder,
input[type="password"] ::-moz-placeholder,
input[type="date"] ::-moz-placeholder,
input[type="datetime"] ::-moz-placeholder,
input[type="datetime-local"] ::-moz-placeholder,
input[type="month"] ::-moz-placeholder,
input[type="week"] ::-moz-placeholder,
input[type="email"] ::-moz-placeholder,
input[type="number"] ::-moz-placeholder,
input[type="search"] ::-moz-placeholder,
input[type="tel"] ::-moz-placeholder,
input[type="time"] ::-moz-placeholder,
input[type="url"] ::-moz-placeholder,
textarea ::-moz-placeholder, .select ::-moz-placeholder {
  color: #807a7a;
  font-size: 14px;
}
/* line 7, ../scss/app.scss */
input[type="text"] :-ms-input-placeholder,
input[type="password"] :-ms-input-placeholder,
input[type="date"] :-ms-input-placeholder,
input[type="datetime"] :-ms-input-placeholder,
input[type="datetime-local"] :-ms-input-placeholder,
input[type="month"] :-ms-input-placeholder,
input[type="week"] :-ms-input-placeholder,
input[type="email"] :-ms-input-placeholder,
input[type="number"] :-ms-input-placeholder,
input[type="search"] :-ms-input-placeholder,
input[type="tel"] :-ms-input-placeholder,
input[type="time"] :-ms-input-placeholder,
input[type="url"] :-ms-input-placeholder,
textarea :-ms-input-placeholder, .select :-ms-input-placeholder {
  color: #807a7a;
  font-size: 14px;
}

/* line 41, ../scss/_forms.scss */
textarea {
  height: 100px;
}

/* line 45, ../scss/_forms.scss */
.btn, a.btn, input[type=submit] {
  display: inline-block;
  border-style: solid;
  border: none;
  text-decoration: none;
  position: relative;
  clear: both;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0 1px 0 #025851;
  padding: 12px 20px;
  border: 1px solid #15685c;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 #85dbd7;
  -webkit-box-shadow: inset 0 1px 0 #85dbd7;
  box-shadow: inset 0 1px 0 #85dbd7;
  background-color: #1b7b6d;
  background-image: -moz-linear-gradient(top, #1b7b6d 0%, #3f9995 100%);
  background-image: -webkit-linear-gradient(top, #1b7b6d 0%, #3f9995 100%);
  background-image: linear-gradient(to bottom, #1b7b6d 0%, #3f9995 100%);
  margin-bottom: 18px;
}
/* line 75, ../scss/_forms.scss */
.btn:hover, a.btn:hover, input[type=submit]:hover {
  background-color: #1b7b6d;
  background-image: -moz-linear-gradient(top, #3f9995 0%, #1b7b6d 100%);
  background-image: -webkit-linear-gradient(top, #3f9995 0%, #1b7b6d 100%);
  background-image: linear-gradient(to bottom, #3f9995 0%, #1b7b6d 100%);
}
/* line 78, ../scss/_forms.scss */
.btn:hover:active, a.btn:hover:active, input[type=submit]:hover:active {
  -moz-box-shadow: inset 0 -1px 0 #85dbd7;
  -webkit-box-shadow: inset 0 -1px 0 #85dbd7;
  box-shadow: inset 0 -1px 0 #85dbd7;
  top: 3px;
}
/* line 84, ../scss/_forms.scss */
.btn.btn, a.btn.btn, input[type=submit].btn {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 41px;
}

/* line 39, ../scss/_lightbox.scss */
body:after {
  content: url(../i/prev.png) url(../i/next.png);
  display: none;
}

/* line 44, ../scss/_lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 54, ../scss/_lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 62, ../scss/_lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 68, ../scss/_lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 73, ../scss/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 83, ../scss/_lightbox.scss */
.lb-container {
  padding: 4px;
}

/* line 87, ../scss/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 97, ../scss/_lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  font-size: 32px;
  color: #000;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  text-shadow: rgba(255, 255, 255, 0.5) 0 0 30px;
}
/* line 117, ../scss/_lightbox.scss */
.lb-cancel:before {
  content: "\f021";
}

/* line 122, ../scss/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 131, ../scss/_lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 135, ../scss/_lightbox.scss */
.lb-nav a {
  outline: none;
}

/* line 139, ../scss/_lightbox.scss */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 147, ../scss/_lightbox.scss */
.lb-prev {
  left: 0;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 152, ../scss/_lightbox.scss */
.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background: url(../i/prev.png) left 48% no-repeat;
}

/* line 158, ../scss/_lightbox.scss */
.lb-next {
  right: 0;
  float: right;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
/* line 163, ../scss/_lightbox.scss */
.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background: url(../i/next.png) right 48% no-repeat;
}

/* line 169, ../scss/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 177, ../scss/_lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
  position: relative;
}
/* line 181, ../scss/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 187, ../scss/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 192, ../scss/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 199, ../scss/_lightbox.scss */
.lb-data .lb-close {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  bottom: -30px;
  right: 0;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  visibility: hidden;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
/* line 215, ../scss/_lightbox.scss */
.lb-data .lb-close:before {
  content: "\f00d";
  visibility: visible;
}
/* line 221, ../scss/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 1, ../scss/_header.scss */
header {
  min-height: 1170px;
  position: relative;
  background-color: #bdebfb;
  background-image: -moz-linear-gradient(top, #bdebfb 0%, #bdebfb 76%, #fdfdff 100%);
  background-image: -webkit-linear-gradient(top, #bdebfb 0%, #bdebfb 76%, #fdfdff 100%);
  background-image: linear-gradient(to bottom, #bdebfb 0%, #bdebfb 76%, #fdfdff 100%);
}
/* line 7, ../scss/_header.scss */
header .header__logo {
  width: 338px;
  height: 192px;
  display: inline-block;
  position: relative;
  float: left;
  left: -50px;
  top: 0;
  background-image: url("../i/logo.png");
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
  /* line 14, ../scss/app.scss */
  header .header__logo {
    background-image: url("../i/logo@2x.png");
    -webkit-background-size: 338px 192px;
  }
}
/* line 17, ../scss/_header.scss */
header nav {
  display: inline-block;
  float: left;
  margin-top: 50px;
  margin-left: -15px;
}
/* line 24, ../scss/_header.scss */
header nav ul li {
  float: left;
  margin-right: 15px;
}
/* line 27, ../scss/_header.scss */
header nav ul li a {
  height: 33px;
  line-height: 33px;
  display: block;
  padding: 0 23px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  -moz-box-shadow: 0 1px 0 rgba(181, 210, 130, 0.75);
  -webkit-box-shadow: 0 1px 0 rgba(181, 210, 130, 0.75);
  box-shadow: 0 1px 0 rgba(181, 210, 130, 0.75);
  background-image: -moz-linear-gradient(top, #f4f7f0 0%, #ffffff 100%);
  background-image: -webkit-linear-gradient(top, #f4f7f0 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, #f4f7f0 0%, #ffffff 100%);
  color: #58830e;
  font-size: 14px;
  text-decoration: none;
}
/* line 42, ../scss/_header.scss */
header nav ul li a:hover {
  color: #58830e;
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f4f7f0 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f7f0 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f4f7f0 100%);
}
/* line 46, ../scss/_header.scss */
header nav ul li a:active {
  -moz-box-shadow: 0 -1px 0 rgba(181, 210, 130, 0.75);
  -webkit-box-shadow: 0 -1px 0 rgba(181, 210, 130, 0.75);
  box-shadow: 0 -1px 0 rgba(181, 210, 130, 0.75);
  position: relative;
  top: 1px;
}
/* line 56, ../scss/_header.scss */
header .header__phone {
  display: inline-block;
  float: left;
  margin-top: 52px;
  margin-left: 20px;
}
/* line 62, ../scss/_header.scss */
header .header__phone h1 {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
/* line 68, ../scss/_header.scss */
header .header__phone .icon-phone {
  color: #80c30b;
  position: relative;
  top: 3vpx;
  margin-right: 11px;
}
/* line 76, ../scss/_header.scss */
header .header__bg {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 85, ../scss/_header.scss */
header .header__bg.header__bg--1 {
  background-image: url(../i/bg-1.png);
}
/* line 88, ../scss/_header.scss */
header .header__bg.header__bg--2 {
  background-image: url(../i/bg-2.png);
}
/* line 93, ../scss/_header.scss */
header .header__questions {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
  text-shadow: 0 1px 0 #bdebfb;
}
/* line 195, ../scss/jeet/_grid.scss */
header .header__questions:before, header .header__questions:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
header .header__questions:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
header .header__questions:last-child {
  margin-right: 0%;
}
/* line 101, ../scss/_header.scss */
header .header__slogan {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 39.91667%;
  margin-left: 8.58333%;
  margin-right: 3%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: italic;
  margin-top: -16px;
  text-shadow: 0 1px 0 #bdebfb;
  font-weight: 300;
}
/* line 195, ../scss/jeet/_grid.scss */
header .header__slogan:before, header .header__slogan:after {
  content: '';
  display: table;
}
/* line 199, ../scss/jeet/_grid.scss */
header .header__slogan:after {
  clear: both;
}
/* line 48, ../scss/jeet/_grid.scss */
header .header__slogan:last-child {
  margin-right: 0%;
}

/* line 51, ../scss/app.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 57, ../scss/app.scss */
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: white;
  line-height: 150%;
  font-size: 16px;
  font-size: 16px;
  color: #006797;
  min-width: 960px;
}

/* line 67, ../scss/app.scss */
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-device-width: 480px) {
  /* line 73, ../scss/app.scss */
  body {
    -webkit-text-size-adjust: none;
  }
}
/* line 78, ../scss/app.scss */
#page-wrap {
  overflow: hidden;
}

/* line 82, ../scss/app.scss */
h1, h2, h3, h4, h5, p {
  color: #006797;
  margin-bottom: 18px;
}

/* line 87, ../scss/app.scss */
h1, h2, h3, h4, h5 {
  font-weight: bold;
}

/* line 91, ../scss/app.scss */
h1 {
  font-size: 24px;
}

/* line 95, ../scss/app.scss */
h2 {
  font-size: 20px;
}

/* line 99, ../scss/app.scss */
h3 {
  font-size: 16px;
}

/* line 103, ../scss/app.scss */
p {
  line-height: 150%;
}

/* line 107, ../scss/app.scss */
strong {
  font-weight: 600;
}

/* line 111, ../scss/app.scss */
.right {
  float: right !important;
}

/* line 115, ../scss/app.scss */
.left {
  float: left !important;
}

/* line 119, ../scss/app.scss */
a, input, textarea, .btn {
  outline: none;
}

/* line 123, ../scss/app.scss */
a {
  color: #006797;
}
/* line 125, ../scss/app.scss */
a:hover {
  color: #00adfd;
}

/* line 130, ../scss/app.scss */
.lbox {
  display: block;
  border: 9px solid #fff;
  -moz-box-shadow: 1px 1px 0 0 #96c4ea;
  -webkit-box-shadow: 1px 1px 0 0 #96c4ea;
  box-shadow: 1px 1px 0 0 #96c4ea;
}
/* line 135, ../scss/app.scss */
.lbox:hover {
  opacity: 0.9;
}

/* line 140, ../scss/app.scss */
.container {
  position: relative;
  z-index: 1;
}
