header
  .header__bg.header__bg--1(data-stellar-background-ratio="0.8", data-stellar-vertical-offset="200")
  .header__bg.header__bg--2(data-stellar-background-ratio="0.5", data-stellar-vertical-offset="200")
  .container
    a.header__logo(href="/")
    nav
      ul
        li: a(href="#test", data-scroll) Тесты
        li: a(href="#testimonials", data-scroll) Отзывы
        li: a(href="#contacts", data-scroll) Запись online
    .header__phone
      h1
        i.icon-phone
        | +7 (908) 993-25-41
  .container
    .header__questions
      p Ребенок кажется неосуществимой мечтой? Время идет, а малыш не торопится? Ты прошла многое: неприятные медицинские процедуры? Бесчисленные обследования и дорогостоящие операции?
    .header__slogan
      p Чудо – это мечта, ставшая реальностью. Нужно верить в то, что чудо свершится, верить в себя и в свои силы.
  .banner
    .container
      h1 А знаете ли вы, что:
    .container
      .icon-biglove
      .banner__content
        p Среди причин женского бесплодия:  расстройства овуляции, трубных факторов, гинекологических заболеваний и иммунологических причин,
        p 15% женщин, имеющих проблему с зачатием – это группа с необъяснимым бесплодием, причины которого применяемыми методами установить не удается!?
        p.center: strong Психологическое бесплодие или психологический запрет на беременность –<br>выход есть!
  .container
    .col-5-12
      img.back(src="i/baby_rounded.png", width="321", height="321")
    .col-7-12.header__bottom
      h1 Существует множество предположений в понимании психологических<br>причин бесплодия
      svg.hr(width='540px', height='15px', viewbox='0 0 540 15'): line(x1='5', x2='540', y1='5', y2='5', stroke='#FFF', stroke-width='5', stroke-linecap='round', stroke-dasharray='1, 10')
      h5 Что уже известно о природе бесплодия:
      .cont
        .span-4-7
          a(href="#") Психологические аспекты бесплодия<span>&nbsp;&rarr;</span><br>
          a(href="#") Психологическое бесплодие (Часть 2)<span>&nbsp;&rarr;</span><br>
        .span-3-7
          a(href="#") Все о зачатии<span>&nbsp;&rarr;</span><br>
          a(href="#") Почему люди хотят детей?<span>&nbsp;&rarr;</span><br>

      p Но если бы все было так просто?! И были бы конкретные советы и методы для каждого конкретного случая? Ведь каждая из нас индивидуальна! Как найти то, что подойдет именно тебе? У каждой из нас свои желания,  мироощущение, интуиция, доверие к окружающему нас.  И ты задаешь себе вопрос: почему это происходит именно со мной?
