header
  .header__bg.header__bg--1(data-stellar-background-ratio="0.8", data-stellar-vertical-offset="150")
  .header__bg.header__bg--2(data-stellar-background-ratio="0.5", data-stellar-vertical-offset="150")
  .container
    a.header__logo(href="/")
    nav
      ul
        li: a(href="#") Тесты
        li: a(href="#") Отзывы
        li: a(href="#") Запись online
    .header__phone
      h1
        i.icon-phone
        | +7 (908) 993-25-41
  .container
    .header__questions
      p Ребенок кажется неосуществимой мечтой? Время идет, а малыш не торопится? Ты прошла многое: неприятные медицинские процедуры? Бесчисленные обследования и дорогостоящие операции?
    .header__slogan
      p Чудо – это мечта, ставшая реальностью. Нужно верить в то, что чудо свершится, верить в себя и в свои силы.
