section#testimonials.section-3
  .container.center
    h1 Отзывы
  .container
    .carousel
      .carousel__container
        ul
          li.carousel__item
            //- a(href="modal-1.html", rel="modal:open")
            img(src="i/1.jpg", width="140", height="140")
            h5 Наталья
            p Очень необычный сайт. Можно пройти тест он-лайн. Не нужно куда-то идти, записываться. И результаты тестов пришли мне на электронную  почту. Очень удобно.
            //- a.btn(href="#") Читать полностью
          li.carousel__item
            //- a(href="modal-2.html", rel="modal:open")
            img(src="i/2.jpg", width="140", height="140")
            h5 Кристина
            p Видео супер! Я никогда не видела ничего подобного. Мы смотрели вместе с мужем. Это действительно чудо.
            //- a.btn(href="#") Читать полностью
          li.carousel__item
            a(href="readmore.html", rel="modal:open")
              img(src="i/3.jpg", width="140", height="140")
              h5 Елена
              p Сейчас стало очень популярным говорить о причинах бесплодия. А как дальше? Мне 26 лет. Врач говорит, что у меня...
              a.btn(href="readmore.html", rel="modal:open") Читать полностью
      a.carousel__nav.carousel__nav--prev(href='#')
        i.icon-arr-left
      a.carousel__nav.carousel__nav--next(href='#')
        i.icon-arr-right
