section#testimonials.section-3
  .container.center
    h1 Отзывы
  .container
    .carousel
      .carousel__container
        ul
          li.carousel__item
            a(href="#")
              img(src="i/placeholders/placeholder-1.jpg", width="140", height="140")
              h5 Кушнаренко Ирина
              p Для тех, кому интересно искать и находить. Быть исследователем собственной жизни. Здесь мы будем общаться, и  находить пути решения вместе.
              a.btn(href="#") Читать полностью
          li.carousel__item
            a(href="#")
              img(src="i/placeholders/placeholder-2.jpg", width="140", height="140")
              h5 Кушнаренко Ирина
              p Для тех, кому интересно искать и находить. Быть исследователем собственной жизни. Здесь мы будем общаться, и  находить пути решения вместе.
              a.btn(href="#") Читать полностью
          li.carousel__item
            a(href="#")
              img(src="i/placeholders/placeholder-3.jpg", width="140", height="140")
              h5 Кушнаренко Ирина
              p Для тех, кому интересно искать и находить. Быть исследователем собственной жизни. Здесь мы будем общаться, и  находить пути решения вместе.
              a.btn(href="#") Читать полностью
          li.carousel__item
            a(href="#")
              img(src="i/placeholders/placeholder-1.jpg", width="140", height="140")
              h5 Кушнаренко Ирина
              p Для тех, кому интересно искать и находить. Быть исследователем собственной жизни. Здесь мы будем общаться, и  находить пути решения вместе.
              a.btn(href="#") Читать полностью
          li.carousel__item
            a(href="#")
              img(src="i/placeholders/placeholder-2.jpg", width="140", height="140")
              h5 Кушнаренко Ирина
              p Для тех, кому интересно искать и находить. Быть исследователем собственной жизни. Здесь мы будем общаться, и  находить пути решения вместе.
              a.btn(href="#") Читать полностью
          li.carousel__item
            a(href="#")
              img(src="i/placeholders/placeholder-3.jpg", width="140", height="140")
              h5 Кушнаренко Ирина
              p Для тех, кому интересно искать и находить. Быть исследователем собственной жизни. Здесь мы будем общаться, и  находить пути решения вместе.
              a.btn(href="#") Читать полностью
      a.carousel__nav.carousel__nav--prev(href='#')
        i.icon-arr-left
      a.carousel__nav.carousel__nav--next(href='#')
        i.icon-arr-right
