section.section-2
  .container.center
    h1 Пройти тестирование
  .container
    a(href="#").col-1-6.test
      i.icon-whoohooh
      h5 Машина<br>времени
      small Пройти тест
    a(href="#").col-1-6.test
      i.icon-love
      h5 Надо подумать
      small Пройти тест
    a(href="#").col-1-6.test
      i.icon-highfive
      h5 Чего я жду<br>от будущего
      small Пройти тест
    a(href="#").col-1-6.test
      i.icon-school
      h5 Что я думаю<br>об этом
      small Пройти тест
    a(href="#").col-1-6.test
      i.icon-runner
      h5 Как я действую
      small Пройти тест
    a(href="#").col-1-6.test
      i.icon-dzen
      h5 Как я живу
      small Пройти тест
