section.section-1
  .container
    .col-1-2
      .cont
        .span-1-6
          i.icon-mother
        .span-5-6
          h5 Цель жизни — жизнь
          p Сайт создан для  поиска и решения  проблемы в каждом индивидуальном случае. Для того, чтобы уметь справляться с трудностями, встающими у тебя на пути. И не только лишь для того, чтобы пройти испытание, а для того, чтобы пройти путь совершенствования себя и дать продолжение этого пути в своем чаде, который станет продолжением тебя- самой!
      .cont
        .span-1-6
          i.icon-family
        .span-5-6
          h5 Есть решение!
          p С помощью тестов мы сможем найти психологические моменты, которые могут оказывать влияние на репродуктивную функцию.
    .col-1-2
      .video
        iframe(width='440', height='248', src='//www.youtube.com/embed/Xs6e2rQaZyU', frameborder='0', allowfullscreen='allowfullscreen')
