section#contacts.section-4
  .section__bg.section__bg--1(data-stellar-background-ratio="0.8", data-stellar-vertical-offset="700")
  .section__bg.section__bg--2(data-stellar-background-ratio="0.5", data-stellar-vertical-offset="700")
  .container
    .contacts__form
      //- .form-preloader
      //-   div
      //-     ul.clouds
      //-       li.cloud
      //-       li.cloud
      //-       li.cloud
      //-       li.cloud
      //-       li.cloud
      h1 Обратная связь
      form(data-title="main-form")
        input(type="text", name="name", placeholder="Имя", required)
        input(type="tel", name="phone", placeholder="Телефон", required)
        input(type="email", name="mail", placeholder="Почта", required)
        input(type="submit", value="Записаться")
    .contacts__footer
      h5 Ваш личный психолог:
      h1 +7 (908) 993-25-41
