section#test.section-2
  .container.center
    h1 Пройти тестирование
  .container
    a(href="test-1.html", rel="modal:open").col-1-6.test
      i.icon-whoohooh
      h5 Машина<br>времени
      small Пройти тест
    a(href="test-2.html", rel="modal:open").col-1-6.test
      i.icon-love
      h5 Надо подумать
      small Пройти тест
    a(href="test-3.html", rel="modal:open").col-1-6.test
      i.icon-highfive
      h5 Чего я жду<br>от будущего
      small Пройти тест
    a(href="test-4.html", rel="modal:open").col-1-6.test
      i.icon-school
      h5 Что я думаю<br>об этом
      small Пройти тест
    a(href="test-5.html", rel="modal:open").col-1-6.test
      i.icon-runner
      h5 Как я действую
      small Пройти тест
    a(href="test-6.html", rel="modal:open").col-1-6.test
      i.icon-dzen
      h5 Как я живу
      small Пройти тест

//- <a class="typeform-share button" href="https://rudoy.typeform.com/to/gZsGtv" data-mode="1" target="_blank">Launch me!</a>
//- <a class="typeform-share button" href="https://rudoy.typeform.com/to/bfUDlH" data-mode="1" target="_blank">Launch me!</a>
//- <a class="typeform-share button" href="https://rudoy.typeform.com/to/bJwEpA" data-mode="1" target="_blank">Launch me!</a>
//- <a class="typeform-share button" href="https://rudoy.typeform.com/to/vxKjXU" data-mode="1" target="_blank">Launch me!</a>
//- <a class="typeform-share button" href="https://rudoy.typeform.com/to/O4bAW6" data-mode="1" target="_blank">Launch me!</a>
//- <a class="typeform-share button" href="https://rudoy.typeform.com/to/FwSMxT" data-mode="1" target="_blank">Launch me!</a>
